<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<a class="navbar-brand" href="/">Sandwich</a>
	<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavId">
		<ul class="mr-auto navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.shoppingCart is not null %}
				<li class="nav-item">
					{% set countCart = 0 %}
					{% for orderLine in app.user.shoppingCart.orderLine %}
						{% set countCart = countCart + (orderLine.quantity) %}
					{% endfor %}
					<a class="nav-link" href="{{path('shopping_cart_index')}}">Cart
						<span class="badge badge-dark">{{countCart}}</span>
					</a>
				</li>
			{% endif %}
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle " href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownId">
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						{# logged in #}
						<a class="dropdown-item" href="{{ path('user') }}">My account</a>
						<a class="dropdown-item" href="{{path('order_index')}}">Orders</a>
						<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
						{% if is_granted("ROLE_ADMIN") %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{ path('app_logout') }}">
								is admin</a>
							{% else %}

						{% endif %}
					{% else %}
						{# anonymous #}
						<a class="dropdown-item" href="{{ path('app_login') }}">Login</a>
						<a class="dropdown-item" href="{{ path('app_register') }}">Register</a>
						<a class="dropdown-item" href="{{ path('app_forget') }}">Forget password</a>
					{% endif %}
				</div>
			</li>
			{# <form class="form-inline my-2 my-lg-0"><input class="form-control mr-sm-2" type="text" placeholder="Search"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></form> #}
		</ul>
	</div>

</nav>
