{# {{ dump(order) }} #}


<a href="{{ path('order_show', {id: order.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">Nr.:{{order.id}}</h5>
		<small>{{order.datetime | date("d/m/Y H:i")}}</small>
	</div>
	<p class="mb-1">
		{% for orderLines in order.orderLine %}
			{# {{ dump(orderLines)}} #}
			<div>{{orderLines.quantity}}
				{{orderLines.sandwich.name}}</div>
		{% endfor %}

	</p>
	<small>
		Prijs totaal
		{{( order.price / 100) | format_currency('EUR', {rounding_mode: 'floor'})}}

		{% if orderStatus.id == 3 %}
			| betaalactie
		{% endif %}


	</small>
</a>
