{% extends 'base.html.twig'  %}

{% block title %}Order status index
{% endblock %}

{% block body %}
	{% for orderStatus in orderStatuses %}
		{% if orderStatus.orders is not empty %}
			<h4>{{orderStatus.name}}</h4>
			<div class="list-group mb-4">
				{% set max = 3 %}
				{% for order in  orderStatus.orders|reverse|slice(0, max) %}
					{% include 'front/order_status/_order.html.twig' with {'order': order, 'orderStatus': orderStatus} %}
				{% endfor %}
				{% if orderStatus.orders|length > max %}
					<a role="button" class="btn btn-secondary" href="{{ path('order_show_by_status', {orderStatus: orderStatus.id}) }}">More orders</a>
				{% endif %}

			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
