{# pass an array argument to get the messages of those types  #}
{% for label, messages in app.flashes %}
	<div class="mt-3">
		{% for message in messages %}
			<div class="alert alert-{{ label }}" role="alert">
				{{ message }}
			</div>
		{% endfor %}
	</div>
{% endfor %}
