{% extends 'base.html.twig' %}

{% block title %}Forget password
{% endblock %}

{% block body %}
	<h1 class="h3 mb-3 font-weight-normal">Password recovery</h1>

	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{# <div class="form-group">{{ form_label(registrationForm.plainPassword)}}{{ form_widget(registrationForm.plainPassword) }}</div> #}
	{{ form_row(form.isHuman) }}

	{{ form_end(form) }}
{% endblock %}
