{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				<div class="alert alert-primary" role="alert">
					You are logged in as
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<div class="form-group">
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
		</div>
		<div class="form-group">
			<label for="inputPassword">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" required>
		</div>
		<input
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


		{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. See https://symfony.com/doc/current/security/remember_me.html #}

		<div class="form-group">
			<div class="form-check">
				<input id="_remember_me" class="form-check-input" type="checkbox" name="_remember_me">
				<label class="form-check-label" for="_remember_me">
					Remember me
				</label>
			</div>
		</div>

		{# <a class="btn btn-secondary" href="{{ path('app_register') }}" role="button">Register</a> #}
		<button class="btn btn-primary" type="submit">
			Sign in
		</button>
	</form>
{% endblock %}
