{# {{ dump(orderLine.quantity) }} #}
{# {{ dump(orderLine.sandwich) }} #}
{# {{ dump(orderLine.sandwich.aLaCarte) }} #}
{# {{ dump(orderLine.sandwich.description) }} #}
{# {{ dump(orderLine.sandwich.typeBread.name) }} #}
{# {{ dump(orderLine.sandwich.typeBread.price) }} #}
	<div class="col mb-4"> <div class="card h-100">
		<div class="card-body">
			<h5 class="card-title">{{orderLine.sandwich.name}}</h5>
			{% if orderLine.sandwich.description != "Custom sandwich" %}
				<p class="card-text">{{orderLine.sandwich.description}}</p>
			{% endif %}

			<p class="card-text">
				<small class="text-muted">
					<ul>
						{% set price = 0 %}

						<li>Bread:
							{{orderLine.sandwich.typeBread.name}}</li>
						{% set price = price + orderLine.sandwich.typeBread.price %}

						<li>Spread:
							{% for spread in orderLine.sandwich.typeSpreadId %}
								{{spread}}
								{% set price = price + spread.price  %}
							{% endfor %}
						</li>

						<li>Size:
							{{orderLine.sandwich.typeSize}}</li>
						{% set price = price * (orderLine.sandwich.typeSize.multiplier / 100)  %}

						<li>Price:
							{{ (price / 100) | format_currency('EUR', {rounding_mode: 'floor'})}}/sandwich</li>
						{# <li>Quantity: {{orderLine.quantity}} </li> #}
						<li>Total:
							{{((orderLine.quantity * price)  / 100) | format_currency('EUR', {rounding_mode: 'floor'})}}</li>
					</ul>
				</small>
			</p>
			{{ render(controller('App\\Controller\\Front\\OrderLineController::edit', {'id': orderLine.id } )) }}
		</div>
	</div>
</div>
