{% extends isComponent ? "minimum.html.twig" : 'base.html.twig'  %}

{% block title %}Sandwich index
{% endblock %}

{% block body %}

	{# {{ dump(cart) }}{{ dump(cart.orderLine) }}	{% for orderLine in cart.orderLine %}		{{ dump(orderLine) }}	{% endfor %} #}

	{% if cart is not empty and cart.orderLine is not empty %}
		{% set title = 'Shopping cart' %}

		{% if not isComponent %}
			<h1>{{title}}</h1>
		{% else %}
			<h4>{{title}}</h4>
		{% endif %}

		<div class="row row-cols-1 row-cols-md-3 mt-2">
			{% for orderLine in cart.orderLine %}
				{% include 'front/shopping_cart/_order_line.html.twig' with {'orderLine': orderLine} %}
			{% endfor %}
		</div>

		{% if isComponent %}
			<a href="{{path('shopping_cart_index')}}" class="btn btn-primary">Order</a>
		{% else %}
			{# showAllDetails #}
			{% if cart.orderLine is empty %}
				<div class="alert alert-info" role="alert">
					Your shopping cart is empty. Go to
					<a href="{{ path('sandwich_index') }}">sandwich index</a>
					to buy some delicious sandwiches
				</div>

			{% else %}
				<div class="row row-cols-1 row-cols-md mt-2">
					<div class="col mb-4">
						<div class="card h-100">
							<div class="card-body">
								<h5 class="card-title">Total price
									{{ (total / 100) | format_currency('EUR', {rounding_mode: 'floor'})}}</h5>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			{# orderThisOrder #}
			<form name="form" action="{{ path('order_new_from_shopping_cart') }}" method="post">
				<input id="shoppingCartId" class="btn btn-primary" type="submit" {% if cart.orderLine is empty %} disabled {% endif %} name="submit[{{cart.id}}]" value="Order Cart">
			</form>
		{% endif %}
	{% else %}
		{% if not isComponent %}
			<div class="alert alert-info" role="alert">
				Your shopping cart is empty.
				<br>
				Go to
				<a href="{{ path('sandwich_index') }}">sandwich index</a>
				to buy some delicious sandwiches
			</div>
		{% endif %}
		{# notification on sanwich index #}
	{% endif %}
{% endblock %}
