{# <pre>
  {{ dump(orderLine) }}
</pre> #}
<ul>
	<li>{{orderLine.sandwich.name}}</li>
	<li>{{orderLine.sandwich.description}}</li>
	{# <li>{{orderLine.sandwich.typeBread}}</li>
			  <li>{{orderLine.sandwich.typeSpread}}</li> #}
	<li>{{ orderLine.sandwich.typeSize.name}}</li>
	<li>{{orderLine.quantity}}</li>
</ul>
