{% extends 'base.html.twig' %}


{% block title %}Sandwich index
{% endblock %}

{% block body %}
	{{ dump(sandwich) }}
	{# {{ dump(form) }} #}


	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	{{ form_start(form, {'action': path('sandwich_edit', {id: sandwich.id}), 'method': 'GET'}) }}
{% endblock %}
