{% extends 'base.html.twig' %}


{% block title %}Sandwich index
{% endblock %}

{% block body %}
	<h1>Sandwich index</h1>
	<div class="card">
		<div class="table-responsive">
			<table class="table table-light mb-0">
				<thead class="thead-light">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Description</th>
						<th>Bread</th>
						<th>Size</th>
						<th>Spread</th>
						<th>Price</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for sandwich in sandwiches %}
						{% set price = 0 %}
						<tr>
							<td>
								{{ sandwich.id }}
							</td>
							<td>
								{{ sandwich.name }}
							</td>
							<td>
								{{ sandwich.description }}
							</td>
							<td>
								{{ sandwich.typeBread.name }}
								{% set price = price + sandwich.typeBread.price %}
								{# {{ dump(sandwich.typeBread.price ) }} #}
							</td>
							<td>
								{{ sandwich.typeSize }}
								{# {{ dump(sandwich.typeSize ) }} #}
							</td>
							<td>
								{% for spread in sandwich.typeSpreadId %}
									{{ spread.name|lower }}

									{% set price = price + spread.price  %}
									{# {{ dump(spread.price ) }} #}
								{% endfor %}
							</td>
							<td>
								{% set price = price * (sandwich.typeSize.multiplier / 100) %}
								{{(price / 100) | format_currency('EUR', {rounding_mode: 'floor'})}}
							</td>
							<td>
								<form name="form" action="{{ path('shopping_cart_new') }}" method="post">
									<input id="sandwichId" class="btn btn-primary" type="submit" name="submit[{{sandwich.id}}]" value="add to cart">
								</form>

								<a href="{{ path('sandwich_show', {'id': sandwich.id}) }}">show</a>
								{% if is_granted("ROLE_ADMIN") %}
									<a href="{{ path('sandwich_edit', {'id': sandwich.id}) }}">edit</a>
								{% endif %}


							</td>
						</tr>

					{% endfor %}
				</tbody>

			</table>
		</div>
	</div>
	<a href="{{ path('sandwich_new') }}">Create new</a>
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
		<div class="mt-3">
			{{ render(controller('App\\Controller\\Front\\ShoppingCartController::index', {isComponent: true } )) }}</div>
	{% endif %}
{% endblock %}
