{% extends 'base.html.twig' %}


{% block title %}Sandwich index
{% endblock %}

{% block body %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{# {{ form_widget(form.name, {'attr': {'readonly': 'readonly', 'class':'d-none'}}) }}
		{{ form_widget(form.description, {'attr': {'readonly': 'readonly', 'class':'d-none'}}) }}
		<div class="d-none">
			{{ form_row(form.aLaCarte, {'attr': {'readonly': 'true', 'class':'d-none'}}) }}
		</div> #}
	{{ form_row(form.typeBread) }}
	{{ form_row(form.typeSpreadId) }}
	{{ form_row(form.typeSize) }}

	{{ form_row(form.cart, { 'label': 'Add to cart' }) }}
	{{ form_end(form) }}
{% endblock %}
