{% extends 'base.html.twig' %}


{% block title %}Sandwich index
{% endblock %}

{% block body %}
	<h1>{{sandwich.name}}</h1>
	<p>{{sandwich.description}}</p>
	{% set price = 0 %}
	<ul class="list-group">
		<li class="list-group-item">
			Bread:
			{{ sandwich.typeBread.name }}
			{% set price = price + sandwich.typeBread.price %}
			{# {{ dump(sandwich.typeBread.price ) }} #}
		</li>
		<li class="list-group-item">
			Size:
			{{ sandwich.typeSize }}
			{# {{ dump(sandwich.typeSize ) }} #}
		</li>
		<li class="list-group-item">
			Spread:
			{% for spread in sandwich.typeSpreadId %}
				{{ spread.name|lower }}

				{% set price = price + spread.price  %}
				{# {{ dump(spread.price ) }} #}
			{% endfor %}
		</li>
	</ul>
	<p class="mt-4">
		Price:
		{% set price = price * (sandwich.typeSize.multiplier / 100) %}
		{{(price / 100) | format_currency('EUR', {rounding_mode: 'floor'})}}</p>

{% endblock %}
