<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags("app") }}
		{% endblock %}
	</head>
	<body>

		{{ include('nav/index.html.twig') }}
		<div class="container my-5">
			{{ include('front/alert/index.html.twig') }}
			{% block body %}{% endblock %}
		</div>
		{% block javascripts %}
			{{ encore_entry_script_tags("app") }}
		{% endblock %}
	</body>
</html>
