{% extends 'base.html.twig'  %}

{% block title %}User indexx
{% endblock %}

{% block body %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		{# {{ dump(app.user) }} #}
		<h1>Your info</h1>
		<p>id:
			{{ app.user.id }}</p>
		<p>Email:
			{{ app.user.email }}</p>
		<h3>Latest order</h3>
		<div class="list-group mb-4">
			{% set max = 1 %}
			{% for order in  app.user.orders|reverse|slice(0, max) %}
				{% include 'front/order_status/_order.html.twig' with {'order': order, 'orderStatus': order.orderStatus} %}
			{% endfor %}
			{% if app.user.orders|length > max %}
				<a role="button" class="btn btn-secondary" href="{{ path('order_index') }}">All orders</a>
			{% endif %}
		</div>
	{% endif %}
{% endblock %}
