<form method="post" action="{{ path('order_line_delete', {'id': order_line.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order_line.id) }}">
	<button class="btn btn-danger">Delete</button>
</form>
