{{ form_start(form, 
{'attr': {'novalidate': 'novalidate', 'action':  '/order/line/' ~ orderLine.id ~ '/edit', 'class': 'container' }}
) }}
<div class="form-group row ">
	{{ form_widget(form.quantity, {'attr': {'class': 'col-lg-4 col-auto form-control'}}) }}
	{{ form_widget(form.save, {'attr': {'class': 'col-lg-8 col-auto btn btn-primary'}}) }}
</div>
{{ form_end(form) }}

{{ include('front/order_line/_delete_form.html.twig', {order_line: orderLine}) }}
