<tr>

	{# {{ dump(orderLine) }} #}
	<td>{{orderLine.quantity}}</td>
	<td>
		{{orderLine.sandwich.name}}
	</td>
	<td>{{orderLine.sandwich.description}}</td>
	<td>
		{% set price = 0 %}
		{{ orderLine.sandwich.typeBread.name }}
		{% set price = price + orderLine.sandwich.typeBread.price %}
		{# {{ dump(sandwich.typeBread.price ) }} #}
	</td>
	<td>
		{{ orderLine.sandwich.typeSize }}
		{# {{ dump(sandwich.typeSize ) }} #}
	</td>
	<td>
		{% for spread in orderLine.sandwich.typeSpreadId %}
			{{ spread.name|lower }}

			{% set price = price + spread.price  %}
			{# {{ dump(spread.price ) }} #}
		{% endfor %}
	</td>
	<td>
		{% set price = price * (orderLine.sandwich.typeSize.multiplier / 100) %}
		{{(price / 100) | format_currency('EUR', {rounding_mode: 'floor'})}}
	</td>
	<td>
		{% set price = price * orderLine.quantity %}
		{{(price / 100) | format_currency('EUR', {rounding_mode: 'floor'})}}
	</td>
</tr>
