{# {{ dump(cart) }}
{{ dump(cart.orderLine) }}
{% for orderLine in cart.orderLine %}
    {{ dump(orderLine) }}
{% endfor %} #}

{% extends 'base.html.twig'  %}

{% block title %}Order nr.
	{{order.id}}
{% endblock %}

{% block body %}
	{# {{ dump(order) }} #}
	<h1>Order nr.
		{{order.id}}</h1>
	<p>Orderdate:
		{{order.datetime | date("d/m/Y H:i")}}
	</p>
	<div class="card">
		<div class="table-responsive">
			<table class="table table-light mb-0">
				<thead class="thead-light">
					<tr>
						<th>Quantity</th>
						<th>Name</th>
						<th>Description</th>
						<th>Bread</th>
						<th>Size</th>
						<th>Spread</th>
						<th>Price/sandwich</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody class="tbody-light">
					{% for orderLine in order.orderLine %}
						{% include 'front/order/_orderLine.html.twig' with {'orderLine': orderLine } %}
					{% endfor %}
				</tbody>
				<tfoot class="thead-light">
					<th colspan="6"></th>
					<th>Total</th>
					<th>{{( order.price  / 100) | format_currency('EUR', {rounding_mode: 'floor'})}}</th>
				</tfoot>
			</table>
		</div>
	</div>
{% endblock %}
