{% extends 'base.html.twig'  %}

{% block title %}User index
{% endblock %}

{% block body %}
	<h1>{{orderStatus.name}}</h1>
	<div class="list-group mb-4">
		{% for order in  orderStatus.orders|reverse %}
			{% include 'front/order_status/_order.html.twig' with {'order': order, 'orderStatus': orderStatus} %}
		{% endfor %}

	</div>
{% endblock %}
