<style>
	.example-wrapper {
		margin: 1em auto;
		max-width: 800px;
		width: 95%;
		font: 18px / 1.5 sans-serif;
	}
	.example-wrapper code {
		background: #F5F5F5;
		padding: 2px 6px;
	}
</style>

<div class="example-wrapper">
	<h1>Hello from Broodjeszaak 🥪</h1>

	<p>{{message}}
	</p>
	<code>
		{{plain_password}}
	</code>
</div>
{# {{ dump(validation_url) }} #}
{# {{ dump(form) }} #}
{# {{ dump(plain_password) }} #}
