{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1 class="h3 mb-3 font-weight-normal">Register</h1>

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	{# <div class="form-group">{{ form_label(registrationForm.plainPassword)}}{{ form_widget(registrationForm.plainPassword) }}</div> #}
	{{ form_row(registrationForm.agreeTerms) }}

	{# <a class="btn btn-secondary" href="{{ path('app_login') }}" role="button">Sign in</a> #}
	<button class="btn btn-primary">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
